{% extends 'base.html.twig' %}

{% block title %}Naves estelares: Transmita algumas peças!{% endblock %}

{% block body %}
    <h2>Minha Nave</h2>

    <table>
        <tr>
            <th>Name</th>
            <td>{{ minhaNave.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ minhaNave.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ minhaNave.captain|upper|lower|title }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ minhaNave.status }}</td>
        </tr>
    </table>
</div>
{% endblock %}